/build/
/ModuloDFS/build/
/ModuloTermoHigrometro/build/
/ModuloTermoHigrometro/dist/
/dist/
/TermoHigrometro/build/
/TermoHigrometro/dist/
/ModuloFoto2/nbproject/private/
/ModuloFoto2/build/
/admin/target/
/ModuloFDS/nbproject/private/
/ModuloFDS/build/
/ModuloFDS/dist/
/build
/appEncript/build/
/appEncript/dist/
/appEncript/nbproject/private/
/ModuloFoto2/dist/
/ModuloDFS - copia/build/
/ModuloDFS - copia/nbproject/private/
/ModuloDFS-NVAELEC/build/
/ModuloDFS-NVAELEC/nbproject/private/
/nbproject/private/
/ModuloTermoHigrometro/nbproject/private/
/ModuloGLR/nbproject/private/
/ModuloDFS/nbproject/private/
/ModuloLogin/nbproject/private/
/ModuloPUC/nbproject/private/
/ModuloFoto/build/
/ModuloFoto/dist/
/ModuloFoto/nbproject/private/
/ModuloGLR-old/nbproject/private/
/ModuloGLR/ModuloGLR/nbproject/private/
/ModuloGLR/TestGuage/build/
/ModuloGLR/TestGuage/nbproject/private/
/ModuloGLRAntioquia/ModuloGLR/nbproject/private/
/ModuloGLRAntioquia/nbproject/private/
/TermoHigrometro/nbproject/private/
/limpiar/ModuloDFS-NVAELEC/build/
/limpiar/ModuloDFS-NVAELEC/nbproject/private/
/limpiar/ModuloFoto2/build/
/limpiar/ModuloFoto2/dist/
/limpiar/ModuloFoto2/nbproject/private/
/limpiar/ModuloGLR-old/nbproject/private/
/limpiar/ModuloGLRAntioquia/ModuloGLR/nbproject/private/
/limpiar/ModuloGLRAntioquia/nbproject/private/
/ModuloDFS/build
/notifica2-1.0-jar-with-dependencies.jar